body { 
	background: #eee ;
	color: #333333;
	font: 14px/24px Georgia, 'Times New Roman', Times, serif;
}



h1 { 
margin-top:75px;
font-size: 42px; 
text-align: center;
}

/* =Shadow Nav
-------------------------------------------------------------------------- */
	/* formatage g�n�ral de la liste*/
	#menu-anim-jquery 
	{
		margin: 0 auto 50px auto;
		padding: 50px 0 0 127px; /* rembourage  au-dessus, � droite, en bas et � gauche */
		width: 1000px; /* largeur de la liste --> doit��tre juste assez large
		  pour l'image des 4 ic�nes, plus large et les ic�nes vont se r�p�ter
		  plus �troit et les ic�nes vont s'afficher sur plusieurs lignes */
		min-height: 130px;
		text-align: center;
		list-style: none; /* liste sans points */
	}
		
	#menu-anim-jquery li { /* formatage de chaque ligne de la liste */
		margin-right: 15px;
		width: 160px; /* boutons 2x */
		height: 72px;
		position: relative;
		float: left;
		}
		
	/*  formatage de chaque lien et d�coupage en block des boutons
    	et formattage quand la souris survol un bouton */
	#menu-anim-jquery a, #menu-anim-jquery a:hover{
		margin: 0 auto;
		width: 122px; /* 2 x 59px + bordures */
		height: 59px;
		padding-top: 15px;
		text-indent: 0px; 
		overflow: hidden;
		background-image: url(icons.png);
		background-repeat: no-repeat;
		background-size: 664px 65px; /*2 x 332px*/
		display: block;
		position: relative;
		z-index: 2; /* affiche au-dessus de z-index: 1 */
		}
		
	/* Button Colors */
	#menu-anim-jquery li.menuItem a {
		background-position: -3px -3px;
		}
	#menu-anim-jquery li.bouton-2 a {
		background-position: -181px -3px; /* +89 */
		}
	#menu-anim-jquery li.bouton-3 a {
		background-position: -359px -3px; /* +178 */
		}
	#menu-anim-jquery li.bouton-4 a {
		background-position: -537px -3px; /* +267 */
		}
		
	/* Button Shadow */
	#menu-anim-jquery li img.shadow { /* formatage de chaque ligne de la 
		liste et de l'ombre */
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		}